body {
    text-align: center;
}

.header {
    text-align: center;
    border: black solid 1px;
}

.cardLink {
    border: black solid 1px;
    width: 300px;
    border-radius: 10px;
}

.homeLink {
    text-decoration: none;
}

.cardLink img {
    height: auto;
    max-width: 100%;
    aspect-ratio: 16/ 9;
    object-fit: cover;
}

.cardLink a {
    width: 100%;
}

.levelDiv {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.dropdown {
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 0;
    text-align: left;
}

.buttonDiv button {
    border: none;
    background: transparent;
    padding: 10px;
}

.buttonDiv button:hover {
    background: lightgray;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: white;
    max-width: 500px;
    max-height: 300px;
}

.endGamePopup {
    background: white;
    padding: 40px;
}

.scores {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    padding: 10px;
    border-radius: 10px;
}

.scoreRow {
    display: flex;
    gap: 10px;

}

.imgDiv {
    position: relative;
    text-align: center;
    border: black solid 1px;
}

.buttonDiv {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.buttonDiv button {
    width: 100px;
}

.thumbnail {
    width: 30px;
    height: 30px;
}

